* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

body {
  font-family: 'Verdana', sans-serif;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	text-align: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* SECTION ONE - FIRST JUMBOTRON */

.first-jumbotron,
.second-jumbotron {
  height: 120vh;
  width: 100%;
  color: #fff;
  position: relative;
  margin-bottom: 50px;
}

.first-jumbotron {
background: url(http://i.imgur.com/KUBvzUT.jpg) no-repeat center /cover;
}

.take {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 5%;
  left: 20%;
  transition: opacity 0.2s;
}

.take:focus {
  outline: none;
}

.take:hover {
  opacity: 0.7;
}

.take .circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
}

.take .circle::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.take p {
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 5px;
  transform: translateY(-50%);
}

.reverse {
  font-size: 60%;
  font-weight: 200;
  text-transform: uppercase;
  min-width: 150px;
}

.reverse span {
  margin-left: 4%;
  font-weight: bold;
} 

.first-jumbotron .reverse {
  position: absolute;
  top: 55%;
  left: -2%;
  transform: rotate(-90deg);
}

.first-jumbotron header {
  font-size: 200%;
  width: 30%;
}

.first-jumbotron header {
  position: absolute;
  top: 50%;
  left: 20%;
}

.first-jumbotron header h1 {
  font-weight: 400; 
}

.first-jumbotron header p {
  padding-top: 3%;
  font-size: 45%;
}

.first-jumbotron .cellphone {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 30%;
  right: 15%;
  z-index: 10;
}

.first-jumbotron .cellphone img {
  width: 100%;
  height: 100%;
}

/* SECTION TWO - START */

.start {
  margin: 0 80px 50px 80px;
}

.start h2 {
  text-align: left;
  color: #65676B;
  padding: 5%;
  font-weight: 500;
  font-size: 170%;
}

.start p {
  color: #8C8D90;
  text-align: left;
  padding: 3%;
  margin-left: 8%;
  line-height: 30px;
  font-size: 80%;

}

.start .col-6:nth-of-type(3) {
  margin-top: 5%;
}

/* SECTION THREE - GALLERY */

.gallery {
  line-height: 1.9em;
  color: #fff;
  margin-left: 11%;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.gallery h3 {
  font-size: 130%;
  font-weight: 300;
  padding: 5%;
  text-align: left;
}

.gallery p {
  font-size: 75%;
  padding: 5%;
  text-align: left;
  overflow: hidden;
  height: 140px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 80%;
  font-weight: bold;
  display: block;
  text-align: left;
  padding: 0 0 5% 5%;
}

.gallery [class^="col-"] {
  position: relative;
}

a span.fa {
  margin-left: 10%;
}

.gallery .heart-layer > a {
   position: absolute;
   top: 82%;
   left: 70%;
   opacity: 0;
}

.gallery [class^="col-"]:hover .heart-layer > a {
  opacity: 1;
  transition: 0.3s;
}

.gallery [class^="col-"]:hover {
  opacity: 0.8;
}

.gallery .cell-1 {
  background-color: #f5999e;
 }

.gallery .cell-2 {
  background-color: #625F7E;
 }

.gallery .cell-3 {
  background: url(http://i.imgur.com/M1jcLOi.jpg) no-repeat center /cover;
 }

.gallery .cell-4 {
  background-color: #BD8DBF;
}

.gallery .cell-5 {
  background: url(http://i.imgur.com/KPjD5GY.jpg) no-repeat center /cover;
 }

/* change of paddings in order to get rows aligned */
.gallery .cell-5 > h3,
.gallery .cell-5 > p {
  padding: 2.5%;
}

.gallery .cell-5 > a {
  padding-left: 2.5%;
  padding-bottom: 2.5%;
}
/* -------- */

.gallery .cell-6 {
  background-color: #82CA9C;
 }

.gallery .cell-7 {
  background: url(http://i.imgur.com/A4SEIS4.jpg) no-repeat center /cover;
}

/* SECTION FOUR - DETAILS */

.details {
  margin: 0 80px 50px 80px;
  position: relative;
  color: #65676B;
}

.details h2 {
  text-align: left;
  padding: 5%;
  font-weight: 500;
  font-size: 170%;
}

.details h3 {
  text-align: left;
  margin-left: 15%;
  padding: 5%;
  font-weight: 500;
  font-size: 120%;
}

.details p:not(:first-child) {
  color: #8C8D90;
  text-align: left;
  padding: 3%;
  margin-left: 17%;
  line-height: 30px;
  font-size: 80%;
}

.details .reverse {
  color: #8C8D90;
  position: absolute;
  top: 10%;
  left: -10%;
  transform: rotate(-90deg);
  opacity: 0.7;
}

/* SECTION FIVE - SECOND JUMBOTRON */

.second-jumbotron {
  background: url(http://i.imgur.com/9FLsk0L.jpg) no-repeat center /cover;
  margin-bottom: 0;
}

.second-jumbotron header {
  position: absolute;
  top: 55%;
  left: 20%;
  width: 35%;
  font-size: 190%;
}

.second-jumbotron header h1 {
  font-weight: 200; 
}

.second-jumbotron header p {
  padding: 5%;
  padding-left: 0;
  font-size: 45%;
}

.second-jumbotron a {
  font-size: 45%;
  font-weight: 600;
  padding-left: 0;
}

/* SECTION SIX - ONBOARD */

.onboard {
  background-color: #82CA9C;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.onboard .container,
.onboard .container p {       /* there had to be the <p> style overwritten separatly with <container> (because of above code -> ".details p:not(:first-child)") */
  color: #fff;
}

.onboard h2 {
  padding-left: 6.5%;
}

/* SECTION SEVEN - PRICES */

.prices {
  position: relative;
}

.border-wrapper {
  border: 1px solid #f2f2f2;
  width: 80%;
  position: relative;
  min-height: 350px;
  padding: 5%;
  margin-left: 10%;
}

.border-wrapper:hover {
  box-shadow: 5px 5px 150px #ccc;
  cursor: pointer;
}

.border-wrapper:hover button.legacy,
.border-wrapper:hover button.popular {
  background-color: #BD8DBF;
}

.prices h2 {
  margin-left: 18%;
  padding: 2%;
}

.prices .details h2 + p {     /* there had to be also the ".details" class, otherwise (with ".prices" only) the style of ".details p {padding: 3%;} overwrites the {padding-top: 0;} */
  padding-top: 0;
}

.prices button {
  background-color: #E1E1E1;
  border: none;
  border-radius: 0.5em;
  padding: 1% 1.5%;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.7em;
  outline: none;
  cursor: pointer;
}

.prices .legacy,
.prices .popular {
  position: absolute;
  top: 4%;
  left: 24%;
  transition: transform .3s;
}

.prices .legacy:hover,
.prices .popular:hover {
  transform: scale(1.2,1.2);
}

.prices .nine,
.prices .eighteen {
  position: absolute;
  top: 60%;
  left: 23%;
  font-size: 1em;
  padding: 3%;
  background-color: #82CA9C;
  transition: transform .3s;
}

.prices .nine:hover,
.prices .eighteen:hover {
  transform: scale(1.2,1.2);
}

.icon-wrapper {
  position: absolute;
  top: 80%;
  left: 24%;
  min-width: 100px;
  text-align: left;
}

.icon-wrapper a {
  min-height: 40px;
  min-width: 40px;
  color: #ccc;
  display: inline-block;
  padding: 0;
}

.icon-wrapper a span.fa {
  min-height: 40px;
  min-width: 40px;
  margin-right: 10px;
  transition: transform .3s;
 }

 .icon-wrapper a span.fa:hover {
  transform: scale(1.4,1.4);
 }

/* SECTION EIGHT - FOOTER */

.footer {
  background-color: #1A2430;
  padding: 50px 0;
}

.footer .container,
.footer .container p {
  color: #fff;
}

.footer .row .list {
  padding-left: 15%;
}

.footer h3 {
  font-weight: bold;
}

.footer p {
  font-size: 50%;
}

.footer ul {
  margin-left: 17%;
  list-style-type: none;
  text-align: left;
  line-height: 1.9em;
  font-size: 80%;
}

.footer ul li:first-of-type {
  padding-bottom: 10%;
  padding-top: 20%;
  font-weight: bolder;
}

.footer form {
  width: 100%;
  padding-left: 20%;
  padding-top: 5%;
  display: inline-block;
 
}

.footer form input,
.footer form button {
  width: 75%;
  line-height: 3em;
  height: 3em;
  border: none;
  float: left;
}

.footer form input {
  padding: 2%;
}

.footer form button {
  width: 10%;
  background-color: #82CA9C;
  position: relative;
  cursor: pointer;
}

.footer form button span.fa {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .row form + p {
  font-size: 60%;
  opacity: 0.6;
  padding-top: 1%;
}
